body {
  display: block;
}

// autenticacion
.txtsecundar-D1 {
  font-size: 15px;
  color: black !important;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  line-height: 16px;
}

.text-login {
  display: inline-block !important;
}

.boton-C2:hover {
  color: #0c1117;
  border: 2px solid #0c1117;
  background-color: transparent !important;
}

.boton-C2 {
  font-size: 14px;
  font-family: 'Montserrat-Bold', sans-serif;
  font-weight: 700;
  line-height: 21px;
  // letter-spacing: 15px;
  background-color: #ffd500;
  border-radius: 6px;
  color: #0c1117;
  width: 100px;
  height: 37px;
  text-align: center;
}

.pencil-boton {
  width: 40px !important;
}

.subtitulo-T1 {
  font-size: 42px;
  font-family: 'Montserrat-Black', sans-serif;
  font-weight: 900;
  // line-height: 46px;
}
.subtitulo-C1 {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  line-height: 21px;
}
.alert-danger {
  width: 1000px;
}

button {
  padding: 5px 15px 5px 15px;
  border-radius: 2px;
  border: 1px;
}

span.info {
  font-size: smaller;
}

input {
  padding: 5px;
}

.footer {
  height: 15vh;
}
.posicion {
  min-height: calc(100vh - 15vh - 10.5vh);
}
.borde {
  border: 1px solid black;
}

// header

.linkD2 {
  color: black !important;
  font-size: 12px;
  font-family: 'Montserrat-Blod', sans-serif;
  font-weight: 710;
  // letter-spacing: 10px;
  line-height: 16px;
}
